*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(forgot-pass-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.entire
{
    width: 420px;
    height: 440px;
    background-color: purple;
    border: 1px solid grey;
    color: white;
    padding: 30px 40px;
    border-radius: 1px;
    
}

.entire h1
{
    font-size: 36px;
    text-align: center;
    color: purple;
    position: relative;
    top: 8px;
}

.entire .heading
{
    width: 419px;
    height: 60px;
    position: relative;
    right: 40px;
    bottom: 0px;
    background-color: violet ;
}

.entire .input
{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 30px 0 0 0;
}

.input .user
{
    width: 100%;
    height: 100%;
    background: darkviolet;
    border-radius: 40px;
    border: none;
    outline: none;
    border: 2px solid;
    padding: 20px 45px 20px 20px;
    color: white;
    font-size: 16px;
}

.input .user::placeholder
{
    color: white;
    font-weight: bold;
}

button
{
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 40px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: violet;
    color: purple;
}











@media screen and (max-width: 762px)
 {
    .entire 
    {
        width: 18rem;
        padding: 1rem;
        position: relative;
        bottom: 1.5rem;
    }

    .entire .heading h1
    {
        font-size: 2rem;
        display: block;
    }

    .entire .heading 
    {
        width: 18rem;
        position: relative;
        right: 1rem;
    }
}